.participant {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  background-color: rgb(183 179 179 / 35%);
  box-shadow: 4px 4px 7px 1px #322525;
  border: rgba(57, 54, 54, 0.899) solid 0.1px;
  border-radius: 0.5rem;
  margin: 2.5rem;
  width: 200px;
}

.player {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.6rem;
  align-items: center;
  justify-content: unset;

  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
  }

  span {
    color: whitesmoke;
    font-size: 26px;
    padding: 0.2rem;
  }
}
