<div class="startScreen">
  <app-header></app-header>

  <div class="startBox" id="startBox">
    <img
      class="startboxImage"
      id="startboxImage"
      src="./../../assets/img/startBox.avif"
      alt=""
    />

    <div (click)="newGame()" class="startBoxAbsolut" id="startBoxAbsolut">
      <div class="startLabelRelativ" id="startLabelRelativ">
        <img
          class="startLabel"
          id="startLabel"
          src="./../../assets/img/labelClean.avif"
          alt=""
        />

        <p class="startGamePara" id="startGamePara">Let`s drink</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
