.field {
  width: 100%;
  height: 100vh;
  background-image: url("./../../assets/img/gameboard.jpg");

  display: flex;
  align-items: center;
  justify-content: center;
}

.cardStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  position: relative;

  > .cardStack_img {
    position: absolute;
    width: clamp(100px, 20vw + 1rem, 250px);
    flex: 1 1 1;
  }
}
