<app-player></app-player>

<section class="field" id="field">
  <div class="cardStack" id="cardStack">
    @for (Card of [0, 1, 2, 3]; track Card; let i = $index) {
    <img
      [ngStyle]="{
        transform: 'translateX(' + calcPositionDieErstenVier(i) + ')'
      }"
      class="cardStack_img"
      id="cardStack_img"
      src="assets/img/cards/card_cover.webp"
      alt="Card cover {{ i }}"
    />
    }

    <img
      (click)="takeCard()"
      class="cardStack_img topCard"
      id="cardStack_img"
      src="assets/img/cards/card_cover.webp"
    />

    <img
      *ngIf="pickCardAnimation"
      (click)="takeCard()"
      class="cardStack_img pickCardAnimation pickCard"
      id="cardStack_img"
      src="assets/img/cards/{{ currentCard }}.webp"
    />

    <div class="playedCardStack" id="playedCardStack">
      @for (playedCard of game?.playedCards; track playedCard; let card =
      $index) {
      <img
        class="playedCard"
        id="playedCard"
        src="assets/img/cards/{{ playedCard }}.webp"
        alt=""
      />
      }
    </div>
  </div>
</section>
