<mat-card class="gameInfoCard" id="gameInfoCard" appearance="outlined">
  <mat-card-title class="gameInfoCard_title">Rules</mat-card-title>
  <mat-card-content
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ab
    expedita quia quasi harum iure veritatis cupiditate voluptatibus similique
    excepturi eligendi rem optio, neque nesciunt, voluptatum minima, et sapiente
    ea debitis exercitationem. Id, provident doloremque voluptates laboriosam,
    commodi omnis nostrum ducimus, error expedita aliquam quo quasi maxime
    consequatur! Voluptatem.</mat-card-content
  >
</mat-card>
